<body>
    <div class="container">
        <div class="zagolovok">
            <img src="/assets/images/logotipe.png" alt="" id="logo" width="30px">
            <h1>Librarium</h1>
        </div>
        <div class="form-box">
            <div class="sign-in"><h1>New Password</h1></div>
            <form class="form" action="/users/sign_in" method="post">
                <div id="newPassword">If you forgot your password,you can create a new password and use your favourite web-site Librarium.</div>
                <label for="inputEmail"></label>
                <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" placeholder="Your Email Address" id="inputEmail" required>
                <label for="inputPassword"></label>
                <input type="password" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="New Password" id="inputPassword" required>
                <label for="inputPassword2"></label>
                <input type="password" [(ngModel)]="confirmPassword" [ngModelOptions]="{standalone: true}" placeholder="Confirm Password" id="inputPassword2" required>
                <input type="submit" (click)="updatePassword()" value="Send" id="submit">
                <div class="sign_up">
                    <a href="" class="raw-link">Sign Up</a>
                    |
                    <a  class="raw-link" routerLink="/sign-in">Sign In</a>
                </div>
            </form>
        </div>
    </div>
</body>

