<div *ngIf="loaded" id="main-container">
    <div id="const-part">
        <div id="const">
            <img src={{book.image}}>
            <button id="fav" *ngIf="isFavbooks" (click)="submitFavbook()"> Add to favorites </button>
            <button class="read">Read in GoodReads</button>
            <div *ngIf="statusBookshelf">
                <div class="modal header">
                    <h4>Bookshelves</h4>
                </div>
                <div class="modal body">
                    <p>Select the Bookshelf, where you want to add book</p>
                    <ul>
                        <li *ngFor="let bookshelf of bookshelves" (click)="addBook()">{{bookshelf.name}}</li>
                    </ul>
                    <fieldset>
                        <input type="text" [(ngModel)]="newBookshelf" >
                        <button (click)="createBookshelf()">Add</button>
                    </fieldset>
                </div>
            </div>
            <p id="share-book">Share with your network:</p>
            <div id="medias">
                <a href="https://api.whatsapp.com/send?text=Ссылка%20на%20книжку%20" target="_blank"><img class="media" id="whats" src="assets/images/Whatsapp.png"></a>
                <a href="https://www.instagram.com/share?url=Ссылка%20на%20книжку" target="_blank"><img class="media" src="assets/images/instagram_1.png"></a>
                <a (click)="telega()" target="_blank"><img class="media" src="assets/images/telegram.png"></a>
            </div>
        </div>
    </div>
    <div id="characteristics">
        <div id="char">
            <p id="b-title">{{book.title}}</p>
            <p id="b-author">{{book.author}}</p>
            <p id="b-publisher">{{book.publisher}}, {{book.year}}</p>
            <p id="b-description">{{book.description}}</p>
            <p id="b-category">{{book.category.name}}</p>
          <p *ngIf="likes !== undefined">Likes: {{ likes }}</p>
          <button (click)="likeBook()">Like</button>
          <button (click)="undolikeBook()">Undo</button>
        </div>
    </div>
    <div id="line"></div>

    <div id="comments">
        <p class="cool-word">Comments</p>
        <div *ngFor="let comment of comments" class="comment">
            <div *ngIf="comment.username==user.username">
                <p class="comment-author">{{comment.username}}</p>
                <p class="comment-content">{{comment.content}}</p>
                <p class="comment-date">{{comment.date}}</p>
                <button (click)="deleteComment(comment.id)" class="delete-button">Delete</button>
                <button (click)="setComment()" class="update-button">Update</button>
                <div *ngIf="isUComment">
                    <label class="leave" id="special">Enter new comment</label>
                    <input type="text" placeholder="Your opinion" name="updComment" [(ngModel)]="updComment" class="input-comment">
                    <button (click)="updateComment(comment.id)" class="ok-button">OK</button>
                </div>
            </div>
            <div *ngIf="comment.username !== user.username">
                <p class="comment-author">{{comment.username}}</p>
                <p class="comment-content">{{comment.content}}</p>
                <p class="comment-date">{{comment.date}}</p>
            </div>
        </div>
        <div *ngIf="!isComments" id="noComments">
            <p class="no-content">There are no comments yet. Be the first!</p>
        </div>
        <label class="leave">Leave a comment</label>
        <input type="text" placeholder="Your opinion" name="comment" [(ngModel)]="comment" class="input-comment"><button (click)="submitCommet()" class="ok-button">OK</button>
    </div>

    <div id="line"></div>

    <div id="reviews">
        <p class="cool-word">Reviews</p>
        <div *ngFor="let review of reviews" class="comment">
            <div *ngIf="review.username == user.username">
                <p class="comment-author">{{review.username}}</p>
                <p class="review-rating">{{review.rating}}/5</p>
                <p class="comment-content">{{review.comment}}</p>
                <p class="comment-date">{{review.date}}</p>
                <button (click)="deleteReview(review.id)" class="delete-button">Delete</button>
                <button (click)="setReview()" class="update-button">Update</button>
                <div *ngIf="isUReview">
                    <label class="opinion">Your new rating.</label>
                    <div class="rating">
                        <input type="radio" name="updRating" value="1" [(ngModel)]="updRating" class="rate">
                        <input type="radio" name="updRating" value="2" [(ngModel)]="updRating" class="rate">
                        <input type="radio" name="updRating" value="3" [(ngModel)]="updRating" class="rate">
                        <input type="radio" name="updRating" value="4" [(ngModel)]="updRating" class="rate">
                        <input type="radio" name="updRating" value="5" [(ngModel)]="updRating" class="rate">
                    </div>
                    <label class="opinion">Your opinion about the book</label>
                    <input type="text" [(ngModel)]="updReviewComment" name="updReviewComment" placeholder="In my opinion..." class="input-review">
                    <button (click)="updateReview(review.id)" class="submit-button">Update</button>
                </div>
            </div>
            <div *ngIf="review.username !== user.username">
                <p class="comment-author">{{review.username}}</p>
                <p class="review-rating">{{review.rating}}/5</p>
                <p class="comment-content">{{review.comment}}</p>
                <p class="comment-date">{{review.date}}</p>
            </div>
        </div>
        <div *ngIf="!isReviews">
            <p>There are no reviews yet. Be the first!</p>
        </div>
        <form id="review-writing">
            <p id="would-you">Would you like to share your opinion?</p>
            <p id="help-others">Help others to choose a book!</p>
            <label class="opinion">Your rating for this book is from 1 to 5.</label>
            <div class="rating">
                <input type="radio" name="rating" value="1" [(ngModel)]="reviewRating" class="rate">
                <input type="radio" name="rating" value="2" [(ngModel)]="reviewRating" class="rate">
                <input type="radio" name="rating" value="3" [(ngModel)]="reviewRating" class="rate">
                <input type="radio" name="rating" value="4" [(ngModel)]="reviewRating" class="rate">
                <input type="radio" name="rating" value="5" [(ngModel)]="reviewRating" class="rate">
            </div>
            <label class="opinion">Your opinion about the book</label>
            <input type="text" [(ngModel)]="reviewComment" name="reviewComment" placeholder="In my opinion..." class="input-review">
            <button (click)="submitReview()" class="submit-button">Submit</button>
        </form>
    </div>

    <div id="line"></div>
    <div id="extra-books" *ngIf="isExtraBooks">
        <p id="extra-word">Also by this publisher</p>
        <div *ngFor="let book of extraBooks" id="extra-c">
            <img src="{{book.image}}" id="extra-image">
                <p id="extra-title">{{book.title}} </p>
                <p id="extra-author">{{book.author}} </p>
                <p id="extra-year">{{book.year}} </p>
        </div>
    </div>
</div>
<h2 *ngIf="!loaded">Book details are loading...</h2>