<!-- First page -->
<div id="wrapper">
    <div id="first-page">
        <p><span class="label-text">Get lost in a good book.</span><br><br>
            <span class="podz">Immerse yourself in a great story and let your imagination run wild.</span><br>
            <br><span class="last">Librarium offers a wide range of books to get lost in,
            so start exploring our library today and find your next adventure!</span><br><br>
            <button class="green-button" onclick="location.href='sign-in';">Get started!</button></p>
            <img id="book-shelf" src="assets/images/bookShelf.png">
    </div>

    <!-- Second page -->
    <div id="second-page">
        <img id="laptop-img" src="assets/images/laptop2.png">
        <div id="second-page-text">
            <p class="label-text">Discover new books and authors absolutely free!</p>
            <p><span class="podz" id="secondd">Our website offers a vast selection of free books,
                including popular bestsellers and hidden gems waiting to be discovered.</span><br><br>
                <span class="last">With no subscription fees or hidden costs, you can enjoy<br>
                unlimited access to our collection without breaking the bank.</span></p>
        </div>
    </div>
    <!-- Second page end -->

    <!-- Third page -->
    <p class="label-text" id="review-label">Join millions of happy readers.</p>
    <div id="third-page">
        <div class="review">
            <img class="review-image" src="assets/images/stars2.png">
            <p class="review-text"><span class="quote">"</span>This site for reading books is amazing! The selection is huge and the reading experience is seamless. I would highly recommend this site to any book lover.<span class="quote">"</span></p>
            <p class="review-author">Sierra Mallow</p>
        </div>
        <div class="review">
            <img class="review-image" src="assets/images/stars2.png">
            <p class="review-text"><span class="quote">"</span>This site for reading books exceeded my expectations. The library is extensive, and the interface is user-friendly. It's a fantastic resource for avid readers.<span class="quote">"</span></p>
            <p class="review-author">Manny Glo</p>
        </div>
        <div class="review">
            <img class="review-image" src="assets/images/stars2.png">
            <p class="review-text"><span class="quote">"</span>This site for reading books is my go-to. The variety of genres and titles is impressive, and it's accessible from any device. I highly recommend this site for anyone looking for a reliable online source for reading books.<span class="quote">"</span></p>
            <p class="review-author">Win Dowson</p>
        </div>
    </div>
</div>
