<footer>
    <div id="footer-bar">
        <p id="footer-logo">Librarium</p>
    </div> 
    <div id="footer-line"></div>
    <div id="footer-blocks">
        <div>
            <p class="footer-header">Company</p>
            <a>About us</a><br>
            <a>Careers</a><br>
            <a>Privacy Policy</a><br>
            <a>Help</a>
        </div>
        <div>
            <p class="footer-header">Work with us</p>
            <a>Authors</a><br>
        </div>
        <div>
            <p class="footer-header" id="connect">Connect</p>
            <a href=""><img class="media-icon" src="assets/images/facebook.png"></a>
            <a href=""><img class="media-icon" src="assets/images/instagram.png"></a>
            <a href=""><img class="media-icon" src="assets/images/twitter.png"></a>
            <a href=""><img class="media-icon" src="assets/images/telegram.png"></a>
        </div>
    </div>
    <p id="footer-end">&copy; 2023 Librarium. All rights reserved.</p>
</footer>