@font-face {
    font-family: "MyCustomFont";
    src: url("/assets/fonts/NoeDisplay-Bold.ttf");
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url("/assets/images/eleventh.jpg");
    background-position: center center;
    background-size: contain;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    background-size: cover;
    font-family: 'Proxima Nova', sans-serif;;
}

.form-box {
    width: 666px;
    height: 524.2px;
    background-color: #ffffff;
    margin-left: 666px;
    margin-top: 94.6px;
    box-shadow: 2px 0px 3px rgba(12, 186, 70, 0.25);
}

.sign-in h1 {
    font-size: 48px;
    font-weight: 700;
    color: #162127;
    margin-bottom: 25px;
    margin-top: 35px;
}

.form {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}

.sign-in {
    text-align: left;
    font-family: 'Proxima Nova', sans-serif;
}
  
.sign-in h1 {
    margin-left: 60px;
    margin-top: 40px;
}

label {
    text-align: left;
    margin-bottom: 7px;
    margin-left: 60px;
    font-size: 18px;
    color: #cccccc;
}


input {
    width: 80%;
    height: 30px;
    margin-left: 60px;
    margin-bottom: 16px;
    cursor: text;
    border-radius: 5px;
    border: 1px solid #b9bcbe;
    padding: 6px 12px;
}

#newPassword {
    width: 79%;
    height: 100%;
    margin-bottom: 16px;
    margin-top: 10px;
    font-size: 14px;
    margin-left: -110px;
    font-size: 16px;
}

#newPassword a {
    font-weight: bold;
    text-decoration: none;
    color: green;
    text-align: center;
    justify-content: center;
    float: right;
}

#newPassword a:hover {
    text-decoration: underline;
    color: rgb(33, 157, 33);
}

#submit {
    background-color:  rgb(14, 133, 14);
    cursor: pointer;
    width: 84%;
    height: 40px;
    line-height: 1.4em;
    color: #fff;
    padding: 6px 12px;
    font-weight: bold;
    margin-bottom: 35px;
    margin-left: 60px;
    border: none;
}

#submit:hover{
    background-color: rgb(33, 157, 33);
}

.raw-link{
    text-decoration: none;
    color:green;
    font-size: 14px;
    font-weight: bold;
}

.raw-link:hover{
    text-decoration: underline;
    color: rgb(33, 157, 33);
}

.sign_up{
    margin-top: 40px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 30px;
}