<head>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>


  <div id="wrapper">
      <div id="header">
          <h1>About us</h1>
      </div>


    <div id="cont-page">
      <div id="first-page">
        <div id="greetings">
          <h1>Welcome to Librarium, your one-stop destination for reading and reviewing books online. Our website provides a platform for book lovers to come together, share their experiences and connect with like-minded individuals.</h1>
        </div>
      </div>
          <div id="description-1">
              <h2>At Librarium, we understand that reading is not just a hobby, but a way of life. Our mission is to make reading more accessible and enjoyable for everyone. Whether you're a seasoned reader or just starting out, our website has something for you. We have a vast collection of books spanning across multiple genres, from classics to contemporary literature.</h2>
          </div>
          <div id="description-2">
              <h3>What sets us apart from other online book clubs is our interactive platform. Our users can not only read books but also write comments and reviews on them. This creates a vibrant community of readers who can share their thoughts and opinions with each other. Our users can also rate books, which helps other readers make informed decisions about what to read next.

                We take pride in the quality of our content and our user-friendly interface. Our website is designed to be easy to navigate, with powerful search tools to help you find the books you're interested in. We also provide personalized recommendations based on your reading history and preferences.

                At Librarium, we are passionate about books and reading, and we want to share that passion with the world. Join us today and become a part of our community of book lovers.</h3>
          </div>
    </div>
  <!--        <div id="movie-1">-->
  <!--            <video src="/assets/images/aest.mp4" controls autoplay loop id="aest-1"></video>-->
  <!--        </div>-->

<!--      <div id="second-page">-->
<!--          <div id="our-story">-->
<!--              <h2> <i>We, students of the School of Information Technology, decided to create a website for reading books as part of the Web Development project. Our motivation is to create a convenient and accessible resource for people who love to read books and want to be able to share their experiences and connect with other readers. </i></h2>-->
<!--          </div>-->
<!--  &lt;!&ndash;        <div id="movie-2">&ndash;&gt;-->
<!--  &lt;!&ndash;            <video src="/assets/images/aest-2.mp4" controls autoplay loop id="aest-2"></video>&ndash;&gt;-->
<!--  &lt;!&ndash;        </div>&ndash;&gt;-->
<!--      </div>-->

  </div>

<div id="second-page">
  <div id="our-story">
    <h2> <i>We, students of the School of Information Technology, decided to create a website for reading books as part of the Web Development project. Our motivation is to create a convenient and accessible resource for people who love to read books and want to be able to share their experiences and connect with other readers. </i></h2>
  </div>
  <!--        <div id="movie-2">-->
  <!--            <video src="/assets/images/aest-2.mp4" controls autoplay loop id="aest-2"></video>-->
  <!--        </div>-->
</div>

